<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	
	<bean id="userSerivce" class="com.lavakn.acegi.dao.impl.UserSerivceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="acegiDetailsServiceImpl" class="com.lavakn.acegi.service.AcegiDetailsServiceImpl">
		<property name="userSerivce" ref="userSerivce"></property>
	</bean>
	<bean id="resourceSerivce" class="com.lavakn.acegi.dao.impl.ResourceServceImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

</beans>
